<!doctype html>
<html>

<head>
	<title>LED Panel Controller</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Exo:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='indexstyle.css' >
    <link href="hover.css" rel="stylesheet" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>


</head>

<body>
    <div id="nav_bg"></div>
    <div id="nav">
        <div id="website_title">
            LED Panel
        </div>
        <div id="credit">
            <h4>created by Panneau LED Group of ECP</h4><br>
            <h4>Nicholas Anthony, Christropher Reinartz, <br> and Xingtong Long</h4>
        </div>
    </div>
<div id="optionPanel" cellspacing = "10">
    <table>
        
        <tr>   
            <td><button class="hvr-grow" style="position:relative; left: 250px; top: 20px" onclick="location.href='scoreboard.html';"> Open Scoreboard </button></td>
		</tr>
        <tr style="height: 50px"></tr>
        <tr>
            <td><button class="hvr-grow" style="position:relative; left: 250px;" onclick="location.href='geometry.html';"> Create Geometry </button></td>
        </tr>
           
    </table>
    
</div>

		
</body>
</html>
